@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Hedvig+Letters+Serif:opsz@12..24&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hedvig Letters Serif", serif;
}
:root {
  --bg-color: black;
  --second-bg-color: rgb(29, 29, 29);
  --text-color: #ffff;
  --theme-color: #00c8f0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  height: 100vh;
}
/* this is something */
html {
  overflow: hidden;
  font-size: 62%;
}

header {
  display: flex;
  justify-content: center;
}
.head a {
  color: var(--text-color);
  width: 44px;
}

.navbar a {
  color: var(--text-color);
}
